
$green: #52A747
$blue: #063863
$grey: #efefef
$main-font: 'Roboto', sans-serif, arial, verdana, tahoma
*
	box-sizing: border-box
html, body
	height: 100%
	margin: 0
body
	font-family: $main-font
	min-width: 320px
header
	margin: 0 0 64px
img
	width: 100%
.wrapper
	min-height: 100%
	margin-bottom: -150px
nav
	li
		border: 2px $green solid
		margin: 8px
		a
			text-decoration: none
			color: #000
			text-transform: uppercase
			font-size: 14px
			padding: 4px 8px
	li:hover
		cursor: pointer
		border-color: red
.header_menu
		list-style-type: none
		display: flex
		flex-direction: column
		padding: 0
		align-items: center
.auth
	display: flex
	align-items: center
.auth:before
	content: ''
	display: block
	background-image: url(../../images/auth.png)
	background-size: 100%
	width: 20px
	height: 20px
	margin: 4px 0
.main_heading
	text-align: center
	color: $blue
	text-transform: uppercase
.search_form
	display: flex
	flex-direction: column
	label
		text-align: center
		background-color: $green
		color: #fff
		text-transform: uppercase
		padding: 4px
	input
		border: 0
		text-indent: 32px
		font-size: 14px
		padding: 8px 0
.main_heading_news
	text-align: center
	background-color: $green
	color: #fff
	font-weight: lighter
	margin: 0
	text-transform: uppercase
.wrap_border
	border-top: 2px solid $green
	border-left: 2px solid $green
.wrap_logo
	border-bottom: 2px solid $green
	display: flex
	flex-direction: column
	align-items: center
	img
		margin: 0 16px
		width: 288px
.img_wrap
	display: flex
	justify-content: center
	align-items: center
	align-self: center
	overflow: hidden
	background-color: #ccc
.heading_logo
	background-color: #fff
	text-align: center
	position: relative
	bottom: -18px
	width: 240px
	margin: 8px auto
	color: $blue
	text-transform: uppercase
	font-weight: bolder
.wrap_news::after
	content: ''
	display: block
	clear: both
.news
	height: 84px
.news_heading_block
	text-align: center
	float: right
	margin: 0
.time
	margin: 16px
	display: block
	float: left
.heading_afisha
	text-align: center
.main_heading_afisha
	text-align: center
marquee
	background-color: $green 
	max-width: 840px
	align-self: center
	font-size: 24px
	color: #fff
	display: flex
	align-items: center
marquee:before
	content: ''
	display: block
	border: 15px solid transparent
	border-bottom: 15px solid #fff 
	border-left: 15px solid #fff  
	position: relative
.heading_projects
	text-align: center
.wrap_projects
	background-color: $grey
	padding: 32px 0
	article
		background-color: #fff
		border-bottom: 2px solid #ccc
		margin: 48px auto
		max-width: 320px
		img
			margin: auto
			display: block
		h5
			text-align: center
			font-size: 24px
		p
			padding: 0 16px
.heading_lectors
	text-align: center
.heading_lectors_main
	margin: 16px auto 64px
	max-width: 420px
.lectors
	max-width: 320px
	height: 460px
.wrap_lectors
	p
		text-align: center
.strong
	font-weight: bold
.lectors
	margin: 64px auto
.lectors_name
	text-align: center
	text-transform: uppercase
.lectors_descr_more
	opacity: 0
	position: relative
	bottom: 184px
	height: 226px
	padding: 8px 0
	border-radius: 0 0 5px 5px
	border-bottom: #ccc 2px solid
.lectors:hover .lectors_descr_more
	display: block
	position: relative
	bottom: 326px
	background-color: rgba(#000, .7)
	color: #fff
	opacity: 1
	cursor: pointer
	transition: all .5s linear
.lectors:hover .lectors_name
	opacity: 0
	transition: all linear .3s
.lectors:hover .lectors_descr_short
	opacity: 0
	transition: all linear .3s
.wrap_partners
	background-color: $grey
	height: 156px
	padding: 8px 0
.heading_partners
	text-align: center
.wrap_contacts
	padding: 32px 0 32px
.fb
	display: flex 
	flex-direction: column
	align-items: center
	margin: 16px 64px
	a
		text-decoration: none
		color: #686868
.fb:hover a
	color: red
.fb:before
	content: ''
	display: block
	background-image: url(../../images/fb.png)
	width: 25px
	height: 25px
	margin-bottom: 8px
	background-size: 100%
.phone, .mail 
	@extend .fb
.phone:before
	@extend .fb:before
	background-image: url(../../images/phone.png)
.mail:before
	@extend .fb:before
	background-image: url(../../images/mail.png)
.footer
	background-color: $grey
	color: #686868
	padding: 32px 8px 0
	border-top: 2px solid #ccc
	p
		margin: 4px 0
.footer,
.wrapper:after
	height: 150px
.wrapper:after
	content: ''
	display: block 
@media (min-width: 960px)
	.header_menu
		flex-direction: row
		justify-content: center
		li
			height: 32px
			display: flex
			align-items: center
	.wrap_news
		display: flex
		flex-direction: column
		padding: 16px
		border-left: 2px solid $green
	.news_heading_block
		width: 304px
		height: 55px
	.wrap_border
		width: 50%
		float: right
		border-top: 0
		border-left: 0
	header:after
		content: ''
		display: block
		clear: both
	.main_heading
		text-align: left
	.wrap_logo
		float: left
		width: 50%
		bottom: 0
		position: relative
		height: 455px
		display: flex
		justify-content: flex-end
		img
			width: 450px
	.search_form
		label
			font-size: 20px
			max-width: 140px
		label:hover
			cursor: pointer
		input
			border-left: 2px solid $green
			border-top: 2px solid $green
	.heading_logo
		font-size: 24px
		width: 440px
		bottom: -24px
	.news
		display: flex
		justify-content: flex-start
		align-items: center
	.main_heading_news
		text-align: left
		padding: 8px 32px 
		font-weight: lighter
	.wrap_afisha_main
		padding: 0 0 32px
		border-bottom: 2px #ccc solid
		display: flex
		align-items: flex-end
		flex-direction: column
	.wrap_afisha
		display: flex
		justify-content: flex-end
	.main_heading_afisha
		margin: 0 8px
		align-self: center
		text-transform: uppercase
		color: $blue
		font-weight: lighter
	.heading_afisha
		text-align: right
		padding: 24px 0
		padding-right: 32px
		border-bottom: 2px solid $green 
		max-width: 920px
		text-transform: uppercase
	.wrap_projects
		article
			margin: 48px 16px
			width: calc(33.3333% - 32px)
			float: left
			max-width: 100%
			height: 600px
			img
				max-height: 320px
				max-width: 474px
	.img_wrap
		height: 280px
	.wrap_projects:after
		content: ''
		display: block
		clear: both
	.wrap_lectors
		max-width: 960px
		margin: 0 auto
	.wrap_lectors:after
		content: ''
		display: block
		clear: both
	.lectors
		float: left
		width: calc(33.333% - 64px)
		margin: 64px 32px
		img
			height: 280px
	.lectors_name
		height: 50px
	.wrap_contacts
		display: flex
		justify-content: center