$green: #52A747
$blue: #063863
$grey: #efefef
$light-blue: #0d96b4
$orange: #fcb713
$dark-blue: #073964
$main-font: 'Roboto', sans-serif, arial, verdana, tahoma
*
	box-sizing: border-box
html, body
	height: 100%
	margin: 0
body
	font-family: $main-font
	min-width: 320px
	position: relative
	margin: 0  auto
	background-color: #fff
header
	margin: 0 0 64px
	position: relative
	z-index: 2
.header_projectH
	display: flex
	justify-content: space-between
	align-items: center
	flex-direction: column
	margin: 0
	// align-content: center
img
	width: 100%
.wrapper
	min-height: 100%
	margin-bottom: -150px
	position: relative
	background-color: #fff
	overflow: hidden
	position: relative
nav
	display: flex
	flex-direction: row-reverse
	justify-content: space-between
	background-color: $green
	position: relative
	z-index: 2
	li
		margin: 8px
		display: flex
		justify-content: center
		align-items: center
		a
			text-decoration: none
			color: #5e5f5e
			text-transform: uppercase
			padding: 4px 8px
	li:before
		content: ''
		display: block
		float: left
		width: 10px
		height: 10px
		background-image: url(../../images/header_menu.png)
		background-size: 100%
		background-repeat: no-repeat
	li:hover
		cursor: pointer
		border-color: red
	li:hover a
		text-decoration: none
		color: #000
#nav-icon4
	width: 30px
	height: 25px
	position: relative
	float: left
	margin: 10px 16px 0
	transform: rotate(0deg)
	transition: .5s ease-in-out
	cursor: pointer
	opacity: 1
#nav-icon4 span
	display: block
	position: absolute
	height: 4px
	width: 100%
	background: #fff
	border-radius: 9px
	opacity: 1
	left: 0
	transform: rotate(0deg)
	transition: .25s ease-in-out
#nav-icon4 span:nth-child(1)
	top: 0px
	transform-origin: left center

#nav-icon4 span:nth-child(2)
	top: 9px
	transform-origin: left center

#nav-icon4 span:nth-child(3)
	top: 18px
	transform-origin: left center
#nav-icon4.open span:nth-child(1)
	transform: rotate(45deg)
	top: -3px
	left: 8px
#nav-icon4.open span:nth-child(2)
	width: 0%
	opacity: 0
#nav-icon4.open span:nth-child(3)
	transform: rotate(-45deg)
	top: 18px
	left: 8px
#nav-icon4.open .header_menu
	display: flex
.header_menu
	list-style-type: none
	display: none
	flex-direction: column
	padding: 0
	align-items: flex-start
	justify-content: center
	background-color: #effbed
	width: 180px
	position: absolute
	left: -120px
	z-index: 1
	height: 314px
	margin-top: 36px
.auth
	display: flex
	align-items: center
.auth:before
	content: ''
	display: block
.main_heading
	text-align: center
	color: $blue
	text-transform: uppercase
.search_form
	display: flex
	flex-direction: column
	label
		text-align: center
		background-color: $green
		color: #fff
		text-transform: uppercase
		padding: 4px
	input
		border: 0
		text-indent: 32px
		font-size: 14px
		padding: 8px 0
.main_heading_news
	text-align: center
	background-color: $green
	color: #fff
	font-weight: lighter
	margin: 0
	text-transform: uppercase
.wrap_border
	border-top: 2px solid $green
	border-left: 2px solid $green
	display: none
.wrap_logo
	border-bottom: 2px solid $green
	display: flex
	flex-direction: column
	align-items: center

	img
		margin: 8px 16px
		width: 288px
.img_wrap
	position: relative
	margin: 0 auto
	width: 100%
	height: 250px
	background-color: #ccc
	border-radius: 5px 5px 0 0
.prj_img
	max-width: 100%
	top: 0
	bottom: 0
	left: 0
	right: 0
	position: absolute
	margin: auto
.heading_logo
	background-color: #fff
	text-align: center
	position: relative
	bottom: -18px
	width: 240px
	margin: 8px auto
	color: $blue
	text-transform: uppercase
	font-weight: bolder
.wrap_news::after
	content: ''
	display: block
	clear: both
.news
	height: 84px
.news_heading_block
	text-align: left
	float: right
	margin: 0
	padding: 8px
	font-family: arial
	font-weight: lighter
	font-size: 22px
	color: #3b3c38
.time
	margin: 16px
	display: block
	float: left
	font-size: 22px
.wrap_afisha_main
	display: none
.heading_afisha
	text-align: left
	max-width: 1125px
	color: #5e5e5e
	display: none 
.mission_afisha
	margin: 0 8px 32px 0
	display: block
	float: left
.main_heading_afisha
	text-align: center
marquee
	background-color: $green 
	max-width: 1050px
	align-self: center
	font-size: 24px
	color: #fff
	display: flex
	align-items: center
	overflow: hidden
	span
		padding-right: 32px
		overflow: hidden
marquee:before
	content: ''
	display: block
	border: 17px solid transparent
	border-bottom: 17px solid #fff 
	border-left: 17px solid #fff  
	position: relative
.heading_projects
	margin: 0
	text-align: center
	text-transform: uppercase
	color: #fff
	font-size: 24px
	padding: 16px 0
	background-color: $green
.wrap_triangle
	border-style: solid
	border-width: 180px 1470px 0 0
	border-color: $green transparent transparent transparent
	position: relative
	z-index: -1
.wrap_triangle_lectors
	background-color: $green
	transform: rotate(-1deg)
.heading_lectors
	transform: rotate(1deg)
	font-size: 32px
.carousel-indicators
	bottom: 50px
	li
		width: 15px
		height: 15px
		background-color: rgba(82, 176, 71, .52)
	.active
		background-color: rgba(82, 176, 71, .82)
		width: 15px
		height: 15px
.wrap_projects
	// background-color: $grey
	overflow: hidden
	a
		text-decoration: none
	.projects:hover
		box-shadow: 0px 10px 14px -1px rgba(0,0,0,0.08)
		transition: all linear .3s
	article:before
		content: ''
		display: block
		width: 100%
		height: 10px
		border-top: 3px solid $green
		position: relative
		z-index: 1
		top: 290px
	article
		background-color: #fff
		margin: 48px auto
		max-width: 320px
		position: relative
		h5
			text-align: center
			font-size: 24px
			text-transform: uppercase
			color: $blue
			margin: 16px 16px
			position: relative
			z-index: 2
			background-color: #fff
		p
			padding: 0 16px
			color: #000
.heading_lectors
	text-align: center
	color: #fff
	padding: 32px
	text-transform: uppercase
	width: 100%
.centering
	display: flex
.heading_lectors_main
	margin: 64px auto 64px
	max-width: 420px
	font-size: 24px
	color: $blue
	text-align: center
.lectors
	max-width: 240px
	height: 460px
.wrap_lectors
	overflow: hidden
	p
		text-align: center
.strong
	font-weight: bold
.lectors
	margin: 0 auto
.lectors_name
	text-align: center
	text-transform: uppercase
	font-size: 24px
.lectors_descr_more
	opacity: 0
	position: relative
	bottom: 184px
	height: 256px
	padding: 8px
	border-radius: 0 0 5px 5px
	border-bottom: #ccc 2px solid
	align-items: center
.lectors:hover .lectors_descr_more
	display: flex
	position: relative
	bottom: 326px
	background-color: rgba(#000, .7)
	color: #fff
	opacity: 1
	cursor: pointer
	transition: all .5s linear

.lectors:hover .lectors_name
	opacity: 0
	transition: all linear .3s
.lectors:hover .lectors_descr_short
	opacity: 0
	transition: all linear .3s
.wrap_partners
	height: 156px
	padding: 8px 0
	max-width: 960px
	margin: auto
.heading_partners
	text-align: center
	text-transform: uppercase
	font-size: 24px
	color: $blue
	margin-top: 64px
.wrap_contacts
	padding: 64px 0 32px
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	background-color: $green
	position: relative
.wrap_contacts:after
	display: block
	content: ''
	width: 100%
	height: 10px
	border-top: solid 2px #fff
	position: absolute
	bottom: 65px
.footer_b
	display: none
.fb
	display: flex 
	flex-direction: column
	align-items: center
	margin: 8px 0
	position: relative
	background-color: $green
	z-index: 2
	a
		text-decoration: none
		color: #fff
		display: none
.fb:hover a
	color: $blue
.fb:before
	content: ''
	display: block
	background-image: url(../../images/fb.png)
	width: 68px
	height: 68px
	background-size: 70%
	background-repeat: no-repeat
	background-position: center
.phone, .mail 
	@extend .fb
.phone:before
	@extend .fb:before
	background-image: url(../../images/phone.png)
.mail:before
	@extend .fb:before
	background-image: url(../../images/mail.png)
.footer
	color: #686868
	padding: 32px 8px 0
	margin: auto
	position: relative
	z-index: 1
	p
		margin: 4px 0
.footer,
.wrapper:after
	height: 150px
.wrapper:after
	content: ''
	display: block 
.logo
		display: block
		float: left
.logo::before
	content: ''
	display: block
	background-image: url(../../images/logo.png)
	background-size: 100%
	background-repeat: no-repeat
	width: 150px
	height: 110px
	margin: 16px
.facebook_nav
	border-radius: 50%
	float: right
	background-color: $green
	text-decoration: none
	margin: 8px
	width: 30px
.facebook_nav::before
	content: ''
	display: block
	color: #fff
	text-align: right
	text-decoration: none
	display: flex
	justify-content: center
	align-items: center
	font-weight: bold
	width: 30px
	height: 30px
	font-size: 22px
	background-image: url(../../images/fb.png)
	background-size: 100%
	background-repeat: no-repeat
.mail_nav
	@extend .facebook_nav
.mail_nav::before
	@extend .facebook_nav::before
	content: ''
	background-image: url(../../images/mail.png)
.freeH_img
	background-image: url(../../images/freeH_Big.jpg)
	background-size: cover
	height: 370px
.green_block
	background-color: rgba(82, 167, 71, 0.52)
	height: 380px
	position: relative
.news_block
	@extend .green_block
	background-color: rgba(0, 50, 94, .72)
	height: 370px
	width: 100%
.blog_block
	@extend .news_block
	background-color: rgba(13, 150, 180, .52)
.blue_block
	@extend .green_block
	background-color: rgba(13, 150, 180, 0.52)
.workS_blue_block
	@extend .green_block
	background-color: rgba(7, 57, 100, 0.52)
.orange_block
	@extend .green_block
	background-color: rgba(252, 183, 19, .52)
.studentsR_blue_block
	@extend .green_block
	background-color: rgba(13, 150, 180, .52)
.HtoH_img
	@extend .freeH_img
	background-image: url(../../images/Human_helps.png)
	background-repeat: no-repeat
.workS_img
	@extend .freeH_img
	background-image: url(../../images/work_search_Main.png)
	background-repeat: no-repeat
	background-position: center
.schoolP_img
	@extend .freeH_img
	background-image: url(../../images/schoolP_img.png)
.studentsR_img
	@extend .freeH_img
	background-image: url(../../images/studentsR_img.png)
.PR_img
	@extend .freeH_img
	background-image: url(../../images/PR_img.png)
	background-position: center
.News_img
	@extend .freeH_img
	background-image: url(../../images/news_main.png)
	background-position: center
.Blog_img 
	@extend .freeH_img
	background-image: url(../../images/blog_main.png)
	background-position: center
.news_svg
	opacity: 0
.second_heading
	width: 100%
	background-color: #52a747
	margin: 0
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	height: 320px
	p
		padding: 16px
		color: #fff
		font-size: 24px
		min-width: 320px
		max-width: 560px
.main_heading_freeH
	color: #fff
	font-size: 38px
	margin: 0
	text-transform: uppercase
	font-weight: bolder
	text-align: center
	font-family: Pompadur
.main_heading_freeH_small
	font-size: 25px
	padding-top: 64px
.wrap_author
	margin: 0 0 64px
	position: relative
	background-color: #fff
	img
		width: 250px
		height: 250px
		margin: 16px auto
		display: block
	span
		color: $blue
		font-size: 22px
		text-align: center
		display: block
	blockquote
		font-style: italic
		font-size: 22px
		padding-top: 64px
		padding-bottom: 48px
.wrap_author::after
	display: block
	content: ''
	clear: both
.brown_block
	position: absolute
	top: 0
	width: 100%
	z-index: 6
	background-color:  rgba(227, 241, 184, .52)
	height: 416px
.blue_block_meta
	@extend .brown_block
	background-color: rgba(209, 243, 245, .52)	
	height: 448px
.workS_goal_block
	@extend .brown_block
	background-color: rgba(194, 209, 221, .52)
	height: 392px
.schoolP_goal_block
	@extend .workS_goal_block
	background-color: rgba(255, 241, 173, .52)
.studentsR_goal_block
	@extend .brown_block
	background-color: rgba(209, 243, 245, .52)
.projectH_descr
	background-color: #e3f1b8
	position: relative
	height: 516px
	h2
		text-align: center
		text-transform: uppercase
		font-weight: bolder
		position: relative
		bottom: -32px
	p
		max-width: 740px
		font-size: 22px
		margin: auto
		padding: 16px
		bottom: -64px
		position: relative
	span
		position: relative
		bottom: -128px
		margin: 0 auto
		display: block
		max-width: 520px

.projectH_descr::before
	display: block
	content: ''
	background-image: url(../../images/top_freeH.png)
	background-size: 100%
	background-repeat: no-repeat
	max-width: 960px
	height: 160px
	display: flex
	background-position: center
	margin: auto
	position: relative
	padding: 8px
	margin-bottom: 64px
	z-index: 1
.projectH_descr::after
	@extend .projectH_descr::before
	background-image: url(../../images/bottom_freeH.png)
	margin-bottom: 0
.projectHtoH_descr
	@extend .projectH_descr
	background-color: rgb(209, 245, 245)
.projectHtoH_descr::before
	background-image: url(../../images/HtoH_meta.png)
.projectHtoH_descr::after
	background-image: url(../../images/HtoH_meta_bot.png)
	padding-bottom: 32px
.projectworkS_descr
	@extend .projectH_descr
	background-color: rgb(194, 209, 221)
	height: 426px
	h2
		bottom: -96px
	p
		bottom: -128px
.projectworkS_descr::before
	background-image: url(../../images/workS_plashka_top.png)
	background-size: 80%
	padding-top: 56px
.projectworkS_descr::after
	background-image: url(../../images/workS_plashka_bot.png)
	background-size: 80%
	padding-bottom: 16px
	padding-top: -72px
	height: 80px
.projectschoolP_descr
	@extend .projectworkS_descr
	background-color: rgb(255, 241, 173)
.projectstudentsR_descr
	@extend .projectH_descr
	background-color: rgb(209, 243, 245)
.projectstudentsR_descr::before
	background-image: url(../../images/studentsR_top.png)
.projectstudentsR_descr::after
	background-image: url(../../images/studentsR_bot.png)
.projectPR_descr
	@extend .projectH_descr
.btn_new
	text-transform: uppercase
	text-decoration: none
	padding: 8px 16px
	display: block
	margin: 72px auto 0
	text-align: center
	color: #fff
	width: 220px
	height: 50px
	background-color: $green
	display: flex
	justify-content: center
	align-items: center
	font-weight: bold
.blue_color
	background-color: #0d96b4
.workS_blue_color
	background-color: #073964
.project_goal
	margin: auto
	max-width: 960px
	h2
		text-align: center
		color: $blue
		font-size: 32px
		margin-top: 0
		padding-top: 16px
.project_goal_studentsR
	display: flex
	flex-direction: column
	align-items: center
.goals_block
	display: flex
	justify-content: flex-start
	margin: 32px 0
	padding: 8px
	p
		font-size: 18px
		max-width: 320px
		margin: 0
		height: 80px
		display: flex
		justify-content: center
		align-items: center
		margin-left: 16px
.bulb_img, .voice_img
	width: 80px
	height: 80px
	margin-left: 16px
.map_img, .pair_img
	width: 95px
	height: 75px
.hipster_img
	width: 62px
	height: 73px
	margin-left: 32px
.laptop_img
	width: 80px
	height: 73px
	margin-left: 16px
.meetings_wrap
	margin-bottom: 32px
	max-width: 960px
	margin: 0 auto
	h2
		padding-top: 64px
		margin-top: 0
		text-align: center
		text-transform: uppercase
	span
		text-align: center
		display: block
		font-style: italic
		margin-bottom: 32px
.contact_person
	padding: 48px 16px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-size: 100%
	background-repeat: no-repeat
	background-color: #d4ea94
	height: 400px
	width: 100%
	position: relative
	img
		width: 125px
		height: 125px
.contacts_prj
	height: 120px
	p
		font-size: 24px
		color: #686868
		font-weight: bold
		margin: 4px 0
		text-align: left
		span
			font-size: 18px
			color: #686868
			font-weight: lighter
		a
			color: #686868
			text-decoration: none
.paralaxM_wrap
	padding-bottom: 64px
.canvas_1, .canvas_2, .canvas_3, .canvas_4, .canvas_news, .canvas_blog,
.post_trainer-first, .canvas_comment-first, .canvas_comment-second, 
.post_trainer-second, .post_trainer-third, .post_trainer-fourth,
.canvas_comment-third, .canvas_comment-fourth
	border-radius: 50%
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	margin: 32px auto
	display: block
.canvas_1
	background-image: url(../../images/big_img.png)
.canvas_2
	background-image: url(../../images/normal_img.png)
.canvas_3
	background-image: url(../../images/wide_img.png)
.canvas_4
	background-image: url(../../images/big_img.png)
.canvas_news
	background-image: url(../../images/first_news.png)
	position: relative
	z-index: 5
.post_trainer-first
	background-image: url(../../images/trainer_1.png)
.wrap_zahodi
	max-width: 960px
.News-page_heading
	font-size: 24px
	text-transform: uppercase
	margin: 0
	position: relative
	z-index: 5
	text-align: center
	max-width: 580px
	font-weight: lighter
	letter-spacing: .3px
.plashka_blue
	background-color: #0d96b4
	width: 100%
	transform: rotate(-1.5deg)
	height: 50px
	position: relative
	z-index: 5
	top: -19px
.plashka_green
	@extend .plashka_blue
	background-color: #52a747
	transform: rotate(1.5deg)
.plashka_dark-blue
	@extend .plashka_blue
	background-color: #073964
	transform: rotate(1.5deg)
.plashka_light-brown
	@extend .plashka_blue
	background-color: #d4ea94
	top: 32px
.wrapper_News
	@extend .wrapper
	min-height: 88%
.wrap_plashka
	position: relative
	z-index: 5
.wrap
	background-color: #fff
	position: relative
	z-index: 5
.wrap_blog
	@extend .wrap
	max-width: 1280px
.news_date
	font-size: 24px
	font-weight: bold
.news_article
	padding: 0 32px
	margin: 0 auto 64px
	display: flex
	max-width: 1180px
	h2
		max-width: 378px
	p
		max-width: 640px
.news_text
	display: none
.canvas_news
	width: 250px
	height: 250px
	margin: 0 auto
.news_article:nth-child(2) 
	flex-direction: column
	canvas
		background-image: url(../../images/news_1.png)
.news_article:nth-child(4) 
	flex-direction: column
	canvas
		background-image: url(../../images/news_2.png)
.news_article:nth-child(6) 
	flex-direction: column
	canvas
		background-image: url(../../images/news_3.png)
.news_btn-read
	border: 1px solid #fff
	text-align: center
	margin: 0
	text-transform: uppercase
	text-decoration: none
	color: #fff
	background-color: $light-blue
	width: 150px
	display: block
	padding: 8px 0
.text_wrap
	max-width: 860px
	h2
		margin-bottom: 0
		font-size: 24px
	ul
		display: none
	.news_list
		padding: 0
		list-style-type: none
		li:before
			content: '-'
			display: block
			float: left
			margin-right: 6px
	.news_no-mark_list
		list-style-type: none
		padding: 0
.wrap_blog
	max-width: 960px
	margin: 0 auto
	height: 464px
.carousel-control-next
	justify-content: flex-end
	align-items: flex-start
	margin-top: 104px
	width: 10%
.carousel-control-prev
	@extend .carousel-control-next
	justify-content: flex-start
.carousel-control-next-icon
	background-image: url(../../images/carousel-next.png)
	height: 30px
	width: 15px
	position: relative
	margin-right: 16px
	right: 0
.carousel-control-prev-icon
	@extend .carousel-control-next-icon
	background-image: url(../../images/carousel-prev.png)
	margin-left: 16px
.blog_article
	background-color: $green
	top: 19%
	left: 12.5%
	max-width: 354px
	padding: 32px 8px 32px
	position: absolute
	h2
		font-size: 24px
		color: #fff
		margin-bottom: 0
		text-align: right
	.blog_date
		text-align: right
		color: #fff
		font-size: 24px
		font-weight: bold
		margin-top: 0
	.blog_text
		color: #fff
		font-size: 14px
	.blog_btn-read
		border: 1px solid #fff
		text-align: center
		margin: 0 auto
		text-transform: uppercase
		text-decoration: none
		color: #fff
		width: 66%
		display: block
		padding: 8px 0
		a
			color: #fff
	.blog_btn-read:hover
		cursor: pointer
		transform: scale(1.02)
		transition: linear all .3s
.blog_article_first
	@extend .blog_article
.blog_article-second
	@extend .blog_article
	background-color: #0d96b4
	left: 37%
.blog_article-third
	@extend .blog_article
	background-color: #fcb713
	left: 29%
	h2
		text-align: left
	.blog_date
		text-align: left
.blog_article-third:before
	left: 230px
.blog_article-fourth
	@extend .blog_article
	background-color: #073964
	left: 54%
	h2
		text-align: left
	.blog_date
		text-align: left
.blog_article-fourth:before
	left: 230px
.modal_close
	width: 10px
	height: 10px
	position: absolute
	top: 10px
	right: 10px
	cursor: pointer
	display: block
	color: #fff
.open_modal_1, .open_modal_2, .open_modal_3, .open_modal_4
	position: relative
	width: 250px
	height: 300px
#overlay 
	position: fixed 
	z-index: 6
	background-color: transparent
	opacity: 0.8
	width: 100%
	height: 45% 
	top: 0
	left: 0
	cursor: pointer
	display: none
.open_modal_1
	z-index: 8
.open_modal_2
	z-index: 6
.open_modal_3
	z-index: 4
.open_modal_4
	z-index: 2
.canvas_first
	height: 200px
	width: 200px
	background-image: url(../../images/trainer_1.png)
.canvas_second
	height: 200px
	width: 200px
	background-image: url(../../images/trainer_2.png)	
.canvas_third
	height: 200px
	width: 200px
	background-image: url(../../images/trainer_3.png)
.canvas_fourth
	height: 200px
	width: 200px
	background-image: url(../../images/trainer_4.png)
.wrap_post
	background-color: #fff
	background: linear-gradient(to bottom, #0d96b4, #fff)
	margin-bottom: -32px
	display: none
	opacity: 1
	z-index: 8
.post_block
	padding: 32px 0 64px
.article_post
	margin: auto
	h2
		color: #fff
		text-transform: uppercase
		font-size: 24px
		font-weight: bold
		text-align: left
		text-indent: 46px
.blog_date-post
	color: #fff
	font-size: 24px
	font-weight: bold
	text-align: center
	text-align: left
	text-indent: 46px
.post_text
	background-color: #fff
	width: 69%
	float: right
	padding-left: 32px
	padding-top: 16px
	p
		width: 66%
		font-size: 12pxs
.post_block::after
	content: ''
	display: block
	clear: both
.post_trainer-first
	float: left
	margin-left: 184px
.comment_wrap
	background-color: #0d96b4
	padding: 16px 0
.btn-add_comment
	text-transform: uppercase
	color: #fff
	border: 1px solid #fff
	display: block
	margin: 0 auto
	width: 250px
	text-align: center
	padding: 16px 32px
	font-size: 18px
.btn-add_comment:hover
	border-color: #ccc
	color: #ccc
	text-decoration: none
.btn-post
	text-transform: uppercase
	color: #fff
	background-color: #0d96b4
	display: block
	width: 120px
	text-align: center
	padding: 4px 16px
	font-size: 18px
	margin: 16px auto
.btn-post:hover
	color: #fff
	background-color: #0e6f84
	text-decoration: none
.comment-block:after
	content: ''
	display: block
	clear: both
.comment_block-wrap
	margin: 0 auto
.comment_block-wrap::after
	content: ''
	display: block
	clear: both
.comment-block
	margin: 32px 0
	width: 81%
	float: right
	background-color: rgba(82, 167, 71, .52)
.comment-block_blue
	background-color: rgba(13, 150, 180, 0.52)
.comment-block_orange
	background-color: rgba(252, 153, 19, 0.52)
.comment-block_dark-blue
	background-color: rgba(7, 57, 100, 0.52)
.flex-wrap-text
	display: flex
	border-bottom: 2px solid $green	
.comment-heading
	float: left
	margin: 0 32px 0 0
.canvas_comment-first
	background-image: url(../../images/trainer_1.png)
	float: left
	position: relative
	left: -50px
	margin: 0
.canvas_comment-second
	@extend .canvas_comment-first
	background-image: url(../../images/trainer_2.png)
.canvas_comment-third
	@extend .canvas_comment-first
	background-image: url(../../images/trainer_3.png)
.canvas_comment-fourth
	@extend .canvas_comment-first
	background-image: url(../../images/trainer_4.png)
.post_trainer-second
	@extend .post_trainer-first
	background-image: url(../../images/trainer_2.png)
.post_trainer-third
	@extend .post_trainer-first
	background-image: url(../../images/trainer_3.png)
.post_trainer-fourth
	@extend .post_trainer-first
	background-image: url(../../images/trainer_4.png)
.comment-text
	float: left
	font-size: 12px
	margin-top: 16px
.text_wrap
	display: flex
	align-items: flex-start
	flex-direction: column
	padding-top: 8px
	font-size: 13px
.text_wrap::after
	content: ''
	display: block
	clear: both
.main_show
	display: block
.green
	background-color: $green
.dark-blue
	background-color: $dark-blue
.orange
	background-color: $orange
.light-blue
	background-color: $light-blue
.light-blue_btn:hover
	background-color: #0f758c
	cursor: pointer
.green_btn:hover
	background-color: #46823e
	cursor: pointer
.dark-blue_btn:hover
	background-color: #072c4c
	cursor: pointer
.orange:hover
	background-color: #fcb713
.green_grad 
	background: linear-gradient(to bottom, $green, #fff)
.dark-blue_grad
	background: linear-gradient(to bottom, #073964, #fff)
.orange_grad
	background: linear-gradient(to bottom, #fcb713, #fff)
@media (min-width: 640px)
	.news_svg
		opacity: 1
		transition: all .3s linear
		position: relative
		top: 80px
	.projectH_descr
		height: 100%
	.meetings_wrap_blocks
		display: flex
	.big_img, .wide_img
		margin: 0 4px
	.big_img
		height: 55%
	.wide_img
		height: calc( 45% - 8px)
	.contact_person
		background-color: transparent
		flex-direction: row
		justify-content: center
		// background-image: url(../../images/plashka_freeH.png)
		background-color: #d4ea94
		transform: rotate(-1.5deg)
		width: 103%
		z-index: 2
		padding: 0
		margin-left: -20px
		margin-bottom: -50px
		img
			margin-right: 60px
			margin-left: 48px
			transform: rotate(1.5deg)
		span
			transform: rotate(1.5deg)
		p
			transform: rotate(1.5deg)
	.canvas_1, .canvas_2, .canvas_3, .canvas_4
		margin: 32px 0
	.wrap_zahodi
		display: flex
		justify-content: space-between
	.wrap_blog
		display: flex
		justify-content: center
@media (min-width: 960px)
	.wrap_news
		display: flex
		flex-direction: column
		padding: 16px
		border-left: 2px solid $green
	.news_heading_block
		max-width: 640px
	.wrap_border
		width: 50%
		float: right
		border-top: 0
		display: block
		border-left: 0
	.heading_afisha
		display: block
	header:after
		content: ''
		display: block
		clear: both
	.main_heading
		text-align: left
	.wrap_logo
		float: left
		width: 50%
		bottom: 0
		position: relative
		height: 468px
		display: flex
		justify-content: flex-end
		img
			width: 450px
	.search_form
		label
			font-size: 20px
			max-width: 140px
		label:hover
			cursor: pointer
		input
			border-left: 2px solid $green
			border-top: 2px solid $green
	.heading_logo
		font-size: 24px
		width: 440px
		bottom: -24px
	.news
		display: flex
		justify-content: flex-start
		align-items: center
	.main_heading_news
		text-align: left
		padding: 8px 32px 
		font-weight: lighter
	.wrap_afisha_main
		padding: 0 0 32px
		// border-bottom: 2px #ccc solid
		display: flex
		align-items: flex-end
		flex-direction: column
		overflow: hidden
	.wrap_afisha
		display: flex
		justify-content: flex-end
	.main_heading_afisha
		margin: 0 8px
		align-self: center
		text-transform: uppercase
		color: $blue
		font-weight: lighter
	.heading_afisha
		text-align: left
		padding: 24px 0
		border-bottom: 2px solid $green 
		text-transform: uppercase
		margin-right: -68px
		float: left
		display: block
	.wrap_projects_main
		// background-color: $grey
	.wrap_projects
		margin: 32px auto 0
		max-width: 1180px
		article::before
			top: 305px
		article
			max-width: 450px
			height: 550px
			h5
				height: 84px
				max-width: 320px
				margin: 32px auto 0
				font-weight: lighter
	.wrap_lectors
		margin: 0 auto
		max-width: 1176px
	.wrap_lectors_main
		margin: auto
	.wrap_lectors:after
		content: ''
		display: block
		clear: both
	.lectors
		max-width: 320px
	.lectors_name
		height: 50px
	.wrap_contacts
		display: flex
		justify-content: center
		background-color: inherit
		background-image: url(../../images/plashka.png)
		background-size: 100%
		background-repeat: no-repeat
	.fb
		a
			display: block
	.heading_projects
		padding: 80px 0
	.wrap_author
		margin: 0
		padding-top: 32px
		padding-bottom: 64px
		position: relative
		width: 100%
		display: flex
		justify-content: center
		img
			width: 300px
			height: 300px
			margin: 16px 75px 0 0
			display: inline-block
			float: left
		span
			color: $blue
			font-size: 22px
			display: inline
			position: absolute
			bottom: 104px
		blockquote
			font-style: italic
			font-size: 22px
			padding-bottom: 48px
			max-width: 572px
	.main_heading_freeH
		text-align: left
		padding-left: 128px
		font-size: 64px
	.main_heading_freeH_small
		font-size: 52px
	.goals_block
		margin: 0 16px
		width: calc(50% - 32px)
		float: left
	.HtoH_goals
		clear: both
		width: 100%
		p
			max-width: 960px
	.project_goal::after
		content: ''
		display: block
		clear: both
	.heading_projects
		background-size: 100%
	.fb
		display: block
		float: left
		margin: 16px auto
		width: 33.3333%
		text-align: center
	.fb:before
		margin: 16px auto
	.news_article:nth-child(2) 
		flex-direction: row-reverse
	.news_article:nth-child(4) 
		flex-direction: row
	.news_article:nth-child(6) 
		flex-direction: row-reverse
@media(min-width: 1280px)
	#nav-icon4 .wad
		display: none
	nav
		flex-direction: row
		height: 50px
		justify-content: space-between
		align-items: center
		a
			width: 125px
			text-align: center
			font-size: 10px
		li:before
			display: none
	.auth:before
		background-image: url(../../images/auth_white.png)
		background-position: center
		background-repeat: no-repeat
		background-size: 65%
		width: 20px
		height: 20px
		margin: 4px 0
	#nav-icon4
		width: 85%
		height: 60px
		position: relative
		clear: both
	.header_menu
		display: flex
		flex-direction: row
		justify-content: center
		background-color: transparent
		position: relative
		width: auto
		left: 0
		height: auto
		margin-top: 0
		li
			height: 32px
			display: flex
			align-items: center
			border: 1px solid #fff
		a
			color: #fff
		li:hover a 
			color: #fff
	.projectH_descr
		position: relative
		z-index: 5
		background-color: #e3f1b8
	.projectHtoH_descr
		background-color: rgb(209, 243, 245)
		position: relative
		z-index: 5
	.projectworkS_descr
		background-color: rgb(194, 209, 221)
		position: relative
		z-index: 5
	.projectschoolP_descr
		background-color: rgb(255, 241, 173)
		position: relative
		z-index: 5
	.projectstudentsR_descr
		background-color: rgb(209, 243, 245)
	.header_projectH
		flex-direction: row
		position: fixed
		width: 100%
		top: 0
		background-color: #fff
		z-index: 999
	.freeH_img
		top: 142px
		position: fixed
		width: 100%
		z-index: 0
	.wrap_author
		position: relative
		margin-top: 500px
	.prj_goal_wrap
		background-color: #fff
		position: relative
		z-index: 5
		padding-bottom: 24px
	.paralaxM_wrap
		background-color: #fff
		position: relative
		z-index: 5
		padding-bottom: 32px
		transform: rotate(-1.5deg)
		width: 103%
		margin-left: -15px
		height: 103%
		margin-top: -25px
	.meetings_wrap
		transform: rotate(1.5deg)
	.btn_new
		transform: rotate(1.5deg)