
$green: #52A747
$blue: #063863
$gray: #efefef
$main-font: arial, verdana, tahoma
*
	box-sizing: border-box
html, body
	height: 100%
	margin: 0
	max-width: 960px
body
	font-family: $main-font
img
	width: 100%
.wrapper
	min-height: 100%
	margin-bottom: -50px
nav
	ul.header_menu
		list-style-type: none
		display: flex
		flex-direction: column
		padding: 0
		align-items: center
		li
			border: 2px $green solid
			margin: 8px
			a
				text-decoration: none
				color: #000
				text-transform: uppercase
				font-size: 14px
				padding: 4px 8px
		li:hover
			cursor: pointer
			border-color: red
.auth
	display: flex
	align-items: center
.auth:before
	content: ''
	display: block
	background-image: url(../../images/auth.png)
	background-size: 100%
	width: 20px
	height: 20px
	margin: 4px 0
	float: left
.main_heading
	text-align: center
	color: $blue
	text-transform: uppercase
.search_form
	display: flex
	flex-direction: column
	label
		text-align: center
		background-color: $green
		color: #fff
		text-transform: uppercase
		padding: 4px 32px
	input
		border: 0
		text-indent: 4px
		font-size: 14px
		padding: 8px 0
.main_heading_news
	text-align: center
	background-color: $green
	color: #fff
	font-weight: lighter
	margin: 0
.wrap_border
	border-top: 2px solid $green
	border-left: 2px solid $green
.wrap_logo
	border-bottom: 2px solid $green
	img
		margin: 0 16px
		width: 288px
.heading_logo
	background-color: #fff
	text-align: center
	position: relative
	bottom: -18px
	width: 240px
	margin: 8px auto
	color: $blue
	text-transform: uppercase
	font-weight: bold
.news_heading_block
	text-align: center
	float: right
.time
	margin: 16px
	display: block
	float: left
.footer,
.wrapper::after
	height: 50px
