* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif, arial, verdana, tahoma;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  background-color: #fff; }

header {
  margin: 0 0 64px;
  position: relative;
  z-index: 2; }

.header_projectH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0; }

img {
  width: 100%; }

.wrapper, .wrapper_News {
  min-height: 100%;
  margin-bottom: -150px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  position: relative; }

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #52A747;
  position: relative;
  z-index: 2;
  width: 100%; }
  nav li {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav li a {
      text-decoration: none;
      color: #5e5f5e;
      text-transform: uppercase;
      padding: 4px 8px;
      font-size: 10px; }
  nav li:before {
    content: "";
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    background-image: url(../../images/header_menu.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  nav li:hover {
    cursor: pointer;
    border-color: red; }
  nav li:hover a {
    text-decoration: none;
    color: #000; }

#nav-icon4 {
  width: 30px;
  height: 25px;
  position: relative;
  float: left;
  margin: 10px 16px 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1; }

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out; }

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 9px;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 18px;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 8px; }

#nav-icon4.open .header_menu {
  display: flex; }

.header_menu {
  list-style-type: none;
  display: none;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  background-color: #effbed;
  width: 180px;
  position: absolute;
  left: -120px;
  z-index: 1;
  height: 314px;
  margin-top: 36px; }

.auth {
  display: flex;
  align-items: center; }

.auth:before {
  content: "";
  display: block; }

.main_heading {
  text-align: center;
  color: #063863;
  text-transform: uppercase; }

.search_form {
  display: flex;
  flex-direction: column; }
  .search_form label {
    text-align: center;
    background-color: #52A747;
    color: #fff;
    text-transform: uppercase;
    padding: 4px; }
  .search_form input {
    border: 0;
    text-indent: 32px;
    font-size: 14px;
    padding: 8px 0; }

.main_heading_news {
  text-align: center;
  background-color: #52A747;
  color: #fff;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase; }

.wrap_border {
  border-top: 2px solid #52A747;
  border-left: 2px solid #52A747;
  display: none; }

.wrap_logo {
  border-bottom: 2px solid #52A747;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrap_logo img {
    margin: 8px 16px;
    width: 288px; }

.img_wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  background-color: #ccc;
  border-radius: 5px 5px 0 0; }

.prj_img {
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto; }

.heading_logo {
  background-color: #fff;
  text-align: center;
  position: relative;
  bottom: -18px;
  width: 240px;
  margin: 8px auto;
  color: #063863;
  text-transform: uppercase;
  font-weight: bolder; }

.wrap_news::after {
  content: "";
  display: block;
  clear: both; }

.news {
  height: 84px; }

.news_heading_block {
  text-align: left;
  float: right;
  margin: 0;
  padding: 8px;
  font-family: arial;
  font-weight: lighter;
  font-size: 22px;
  color: #3b3c38; }

.time {
  margin: 16px;
  display: block;
  float: left;
  font-size: 22px; }

.wrap_afisha_main {
  display: none; }

.heading_afisha {
  text-align: left;
  max-width: 1125px;
  color: #5e5e5e;
  display: none; }

.mission_afisha {
  margin: 0 8px 32px 0;
  display: block;
  float: left; }

.main_heading_afisha {
  text-align: center; }

marquee {
  background-color: #52A747;
  max-width: 1050px;
  align-self: center;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden; }
  marquee span {
    padding-right: 32px;
    overflow: hidden; }

marquee:before {
  content: "";
  display: block;
  border: 17px solid transparent;
  border-bottom: 17px solid #fff;
  border-left: 17px solid #fff;
  position: relative; }

.heading_projects {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 16px 0;
  background-color: #52A747; }

.wrap_triangle {
  border-style: solid;
  border-width: 180px 1470px 0 0;
  border-color: #52A747 transparent transparent transparent;
  position: relative;
  z-index: -1; }

.wrap_triangle_lectors {
  background-color: #52A747;
  transform: rotate(-1deg); }

.heading_lectors {
  transform: rotate(1deg);
  font-size: 32px; }

.carousel-indicators {
  bottom: -10px; }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: rgba(82, 176, 71, 0.52); }
  .carousel-indicators .active {
    background-color: rgba(82, 176, 71, 0.82);
    width: 15px;
    height: 15px; }

.wrap_projects {
  overflow: hidden; }
  .wrap_projects a {
    text-decoration: none; }
  .wrap_projects .projects:hover {
    box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s; }
  .wrap_projects article:before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    border-top: 3px solid #52A747;
    position: relative;
    z-index: 1;
    top: 290px; }
  .wrap_projects article {
    background-color: #fff;
    margin: 48px auto;
    max-width: 320px;
    position: relative; }
    .wrap_projects article h5 {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      color: #063863;
      margin: 16px 16px;
      position: relative;
      z-index: 2;
      background-color: #fff; }
    .wrap_projects article p {
      padding: 0 16px;
      color: #000; }

.heading_lectors {
  text-align: center;
  color: #fff;
  padding: 32px;
  text-transform: uppercase;
  width: 100%; }

.centering {
  display: flex; }

.heading_lectors_main {
  margin: 64px auto 64px;
  max-width: 420px;
  font-size: 24px;
  color: #063863;
  text-align: center; }

.lectors {
  max-width: 240px;
  height: 460px; }

.wrap_lectors {
  overflow: hidden; }
  .wrap_lectors p {
    text-align: center; }

.strong {
  font-weight: bold; }

.lectors {
  margin: 0 auto; }

.lectors_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px; }

.lectors_descr_more {
  opacity: 0;
  position: relative;
  bottom: 184px;
  height: 256px;
  padding: 8px;
  border-radius: 0 0 5px 5px;
  border-bottom: #ccc 2px solid;
  align-items: center; }

.lectors:hover .lectors_descr_more {
  display: flex;
  position: relative;
  bottom: 326px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s linear; }

.lectors:hover .lectors_name {
  opacity: 0;
  transition: all linear 0.3s; }

.lectors:hover .lectors_descr_short {
  opacity: 0;
  transition: all linear 0.3s; }

.wrap_partners {
  height: 156px;
  padding: 8px 0;
  max-width: 960px;
  margin: auto; }

.heading_partners {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #063863;
  margin-top: 64px; }

.wrap_contacts {
  padding: 64px 0 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52A747;
  position: relative; }

.wrap_contacts:after {
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  border-top: solid 2px #fff;
  position: absolute;
  bottom: 65px; }

.footer_b {
  display: none; }

.fb, .phone, .mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
  position: relative;
  background-color: #52A747;
  z-index: 2; }
  .fb a, .phone a, .mail a {
    text-decoration: none;
    color: #fff;
    display: none; }

.fb:hover a, .phone:hover a, .mail:hover a {
  color: #063863; }

.fb:before, .phone:before, .mail:before {
  content: "";
  display: block;
  background-image: url(../../images/fb.png);
  width: 68px;
  height: 68px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; }

.phone:before {
  background-image: url(../../images/phone.png); }

.mail:before {
  background-image: url(../../images/mail.png); }

.footer {
  color: #686868;
  padding: 32px 8px 0;
  margin: auto;
  position: relative;
  z-index: 1; }
  .footer p {
    margin: 4px 0; }

.footer,
.wrapper:after,
.wrapper_News:after {
  height: 150px; }

.wrapper:after, .wrapper_News:after {
  content: "";
  display: block; }

.logo {
  display: block;
  float: left; }

.logo::before {
  content: "";
  display: block;
  background-image: url(../../images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150px;
  height: 110px;
  margin: 16px; }

.facebook_nav, .mail_nav {
  border-radius: 50%;
  float: right;
  background-color: #52A747;
  text-decoration: none;
  margin: 8px;
  width: 30px; }

.facebook_nav::before, .mail_nav::before {
  content: "";
  display: block;
  color: #fff;
  text-align: right;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 30px;
  height: 30px;
  font-size: 22px;
  background-image: url(../../images/fb.png);
  background-size: 100%;
  background-repeat: no-repeat; }

.mail_nav::before {
  content: "";
  background-image: url(../../images/mail.png); }

.freeH_img, .HtoH_img, .workS_img, .schoolP_img, .studentsR_img, .PR_img, .News_img, .Blog_img {
  background-image: url(../../images/FreeH_img.png);
  background-size: cover;
  height: 370px; }

.green_block, .news_block, .blog_block, .blue_block, .workS_blue_block, .orange_block, .studentsR_blue_block {
  background-color: rgba(82, 167, 71, 0.52);
  height: 370px;
  position: relative; }

.news_block, .blog_block {
  background-color: rgba(0, 50, 94, 0.72);
  height: 370px;
  width: 100%; }

.blog_block {
  background-color: rgba(13, 150, 180, 0.52); }

.blue_block {
  background-color: rgba(13, 150, 180, 0.52); }

.workS_blue_block {
  background-color: rgba(7, 57, 100, 0.52); }

.orange_block {
  background-color: rgba(252, 183, 19, 0.52); }

.studentsR_blue_block {
  background-color: rgba(13, 150, 180, 0.52); }

.HtoH_img {
  background-image: url(../../images/Human_img.png); }

.workS_img {
  background-image: url(../../images/work_search_Main.png);
  background-repeat: no-repeat;
  background-position: center; }

.schoolP_img {
  background-image: url(../../images/schoolP_img.png); }

.studentsR_img {
  background-image: url(../../images/studentsR_img.png); }

.PR_img {
  background-image: url(../../images/PR_img.png);
  background-position: center; }

.News_img {
  background-image: url(../../images/news_main.png);
  background-position: center; }

.Blog_img {
  background-image: url(../../images/blog_main.png);
  background-position: center; }

.news_svg {
  opacity: 0; }

.second_heading {
  width: 100%;
  background-color: #52a747;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px; }
  .second_heading p {
    padding: 16px;
    color: #fff;
    font-size: 24px;
    min-width: 320px;
    max-width: 560px; }

.main_heading_freeH {
  color: #fff;
  font-size: 38px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-family: Pompadur; }

.main_heading_freeH_small {
  font-size: 25px;
  padding-top: 64px; }

.wrap_author {
  margin: 0 0 64px;
  position: relative;
  background-color: #fff; }
  .wrap_author img {
    width: 250px;
    height: 250px;
    margin: 16px auto;
    display: block; }
  .wrap_author span {
    color: #063863;
    font-size: 22px;
    text-align: center;
    display: block; }
  .wrap_author blockquote {
    font-style: italic;
    font-size: 22px;
    padding-top: 64px;
    padding-bottom: 48px; }

.wrap_author::after {
  display: block;
  content: "";
  clear: both; }

.brown_block, .blue_block_meta, .workS_goal_block, .schoolP_goal_block, .studentsR_goal_block {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
  background-color: rgba(227, 241, 184, 0.52);
  height: 416px; }

.blue_block_meta {
  background-color: rgba(209, 243, 245, 0.52);
  height: 448px; }

.workS_goal_block, .schoolP_goal_block {
  background-color: rgba(194, 209, 221, 0.52);
  height: 392px; }

.schoolP_goal_block {
  background-color: rgba(255, 241, 173, 0.52); }

.studentsR_goal_block {
  background-color: rgba(209, 243, 245, 0.52); }

.projectH_descr, .projectHtoH_descr, .projectworkS_descr, .projectschoolP_descr, .projectstudentsR_descr, .projectPR_descr {
  background-color: #e3f1b8;
  position: relative;
  width: 100%;
  height: 516px; }
  .projectH_descr h2, .projectHtoH_descr h2, .projectworkS_descr h2, .projectschoolP_descr h2, .projectstudentsR_descr h2, .projectPR_descr h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    bottom: -32px; }
  .projectH_descr p, .projectHtoH_descr p, .projectworkS_descr p, .projectschoolP_descr p, .projectstudentsR_descr p, .projectPR_descr p {
    max-width: 740px;
    font-size: 22px;
    margin: auto;
    padding: 16px;
    bottom: -64px;
    position: relative; }
  .projectH_descr span, .projectHtoH_descr span, .projectworkS_descr span, .projectschoolP_descr span, .projectstudentsR_descr span, .projectPR_descr span {
    position: relative;
    bottom: -128px;
    margin: 0 auto;
    display: block;
    max-width: 520px; }

.projectH_descr::before, .projectH_descr::after, .projectHtoH_descr::after, .projectworkS_descr::after, .projectschoolP_descr::after, .projectstudentsR_descr::after, .projectPR_descr::after, .projectHtoH_descr::before, .projectworkS_descr::before, .projectschoolP_descr::before, .projectstudentsR_descr::before, .projectPR_descr::before {
  display: block;
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 960px;
  height: 160px;
  display: flex;
  background-position: center;
  margin: auto;
  position: relative;
  padding: 8px;
  margin-bottom: 64px;
  z-index: 1; }

.projectH_descr::after, .projectHtoH_descr::after, .projectworkS_descr::after, .projectschoolP_descr::after, .projectstudentsR_descr::after, .projectPR_descr::after {
  margin-bottom: 0; }

.projectHtoH_descr {
  background-color: #d1f5f5; }

.projectHtoH_descr::after {
  padding-bottom: 32px; }

.projectworkS_descr, .projectschoolP_descr {
  background-color: #c2d1dd;
  height: 426px; }
  .projectworkS_descr h2, .projectschoolP_descr h2 {
    bottom: -96px; }
  .projectworkS_descr p, .projectschoolP_descr p {
    bottom: -128px; }

.projectworkS_descr::before, .projectschoolP_descr::before {
  background-size: 80%;
  padding-top: 56px; }

.projectworkS_descr::after, .projectschoolP_descr::after {
  background-size: 80%;
  padding-bottom: 16px;
  height: 80px; }

.projectschoolP_descr {
  background-color: #fff1ad; }

.projectstudentsR_descr {
  background-color: #d1f3f5; }

.btn_new {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
  margin: 72px auto 0;
  text-align: center;
  color: #fff;
  width: 220px;
  height: 50px;
  background-color: #52A747;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

.blue_color {
  background-color: #0d96b4; }

.workS_blue_color {
  background-color: #073964; }

.project_goal {
  margin: auto;
  max-width: 960px; }
  .project_goal h2 {
    text-align: center;
    color: #063863;
    font-size: 32px;
    margin-top: 0;
    padding-top: 16px; }

.project_goal_studentsR {
  display: flex;
  flex-direction: column;
  align-items: center; }

.goals_block {
  display: flex;
  justify-content: flex-start;
  margin: 32px 0;
  padding: 8px; }
  .goals_block p {
    font-size: 18px;
    max-width: 320px;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px; }

.bulb_img, .voice_img {
  width: 80px;
  height: 80px;
  margin-left: 16px; }

.map_img, .pair_img {
  width: 95px;
  height: 75px; }

.hipster_img {
  width: 62px;
  height: 73px;
  margin-left: 32px; }

.laptop_img {
  width: 80px;
  height: 73px;
  margin-left: 16px; }

.meetings_wrap {
  margin-bottom: 32px;
  max-width: 960px;
  margin: 0 auto; }
  .meetings_wrap h2 {
    padding-top: 64px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase; }
  .meetings_wrap span {
    text-align: center;
    display: block;
    font-style: italic;
    margin-bottom: 32px; }

.contact_person {
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #d4ea94;
  height: 500px;
  width: 100%;
  position: relative; }
  .contact_person img {
    width: 125px;
    height: 125px; }

.contacts_prj {
  height: 120px; }
  .contacts_prj p {
    font-size: 24px;
    color: #686868;
    font-weight: bold;
    margin: 4px 0;
    text-align: left; }
    .contacts_prj p span {
      font-size: 18px;
      color: #686868;
      font-weight: lighter; }
    .contacts_prj p a {
      color: #686868;
      text-decoration: none; }

.paralaxM_wrap {
  padding-bottom: 64px; }

.canvas_1, .canvas_2, .canvas_3, .canvas_4, .canvas_news, .canvas_blog,
.post_trainer-first,
.post_trainer-second,
.post_trainer-third,
.post_trainer-fourth, .canvas_comment-first, .canvas_comment-second, .canvas_comment-third, .canvas_comment-fourth, .canvas_comment-second,
.post_trainer-second, .post_trainer-third, .post_trainer-fourth,
.canvas_comment-third, .canvas_comment-fourth {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 32px auto;
  display: block; }

.canvas_1 {
  background-image: url(../../images/big_img.png); }

.canvas_2 {
  background-image: url(../../images/normal_img.png); }

.canvas_3 {
  background-image: url(../../images/wide_img.png); }

.canvas_4 {
  background-image: url(../../images/big_img.png); }

.canvas_news {
  background-image: url(../../images/first_news.png);
  position: relative;
  z-index: 5; }

.post_trainer-first, .post_trainer-second, .post_trainer-third, .post_trainer-fourth {
  background-image: url(../../images/trainer_1.png); }

.wrap_zahodi {
  max-width: 960px; }

.News-page_heading {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 580px;
  font-weight: lighter;
  letter-spacing: 0.3px;
  color: #fff; }

.plashka_blue, .plashka_green, .plashka_dark-blue, .plashka_light-brown {
  background-color: #0d96b4;
  width: 100%;
  transform: rotate(-1.5deg);
  height: 50px;
  position: relative;
  z-index: 5;
  top: -19px; }

.plashka_green {
  background-color: #52a747;
  transform: rotate(1.5deg); }

.plashka_dark-blue {
  background-color: #073964;
  transform: rotate(1.5deg); }

.plashka_light-brown {
  background-color: #d4ea94;
  top: 32px; }

.wrapper_News {
  min-height: 58%; }

.wrap_plashka {
  position: relative;
  z-index: 5; }

.wrap, .wrap_blog {
  background-color: #fff;
  position: relative;
  z-index: 5; }

.wrap_blog {
  max-width: 1280px; }

.news_date {
  font-size: 24px;
  font-weight: bold; }

.news_article {
  padding: 0 32px;
  margin: 0 auto 64px;
  display: flex;
  max-width: 1180px; }
  .news_article h2 {
    max-width: 378px; }
  .news_article p {
    max-width: 640px; }

.news_text {
  display: none; }

.canvas_news {
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.news_article:nth-child(2) {
  flex-direction: column; }
  .news_article:nth-child(2) canvas {
    background-image: url(../../images/news_1.png); }

.news_article:nth-child(4) {
  flex-direction: column; }
  .news_article:nth-child(4) canvas {
    background-image: url(../../images/news_2.png); }

.news_article:nth-child(6) {
  flex-direction: column; }
  .news_article:nth-child(6) canvas {
    background-image: url(../../images/news_3.png); }

.news_btn-read {
  border: 1px solid #fff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #0d96b4;
  width: 150px;
  display: block;
  padding: 8px 0; }

.text_wrap {
  max-width: 860px; }
  .text_wrap h2 {
    margin-bottom: 0;
    font-size: 24px; }
  .text_wrap ul {
    display: none; }
  .text_wrap .news_list {
    padding: 0;
    list-style-type: none; }
    .text_wrap .news_list li:before {
      content: "-";
      display: block;
      float: left;
      margin-right: 6px; }
  .text_wrap .news_no-mark_list {
    list-style-type: none;
    padding: 0; }

.wrap_blog {
  max-width: 960px;
  margin: 0 auto; }

.carousel-control-next, .carousel-control-prev {
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 104px;
  width: 15%;
  height: 30px; }

.carousel-control-prev {
  justify-content: flex-start; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: url(../../images/carousel-next.png);
  height: 30px;
  width: 15px;
  position: relative;
  margin-right: 16px;
  right: 0; }

.carousel-control-prev-icon {
  background-image: url(../../images/carousel-prev.png);
  margin-left: 16px; }

.blog_article, .blog_article_first, .blog_article-second, .blog_article-third, .blog_article-fourth {
  background-color: #52A747;
  top: 0;
  max-width: 354px;
  padding: 32px 8px 32px;
  position: absolute;
  top: 28%; }
  .blog_article h2, .blog_article_first h2, .blog_article-second h2, .blog_article-third h2, .blog_article-fourth h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    text-align: right; }
  .blog_article .blog_date, .blog_article_first .blog_date, .blog_article-second .blog_date, .blog_article-third .blog_date, .blog_article-fourth .blog_date {
    text-align: right;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0; }
  .blog_article .blog_text, .blog_article_first .blog_text, .blog_article-second .blog_text, .blog_article-third .blog_text, .blog_article-fourth .blog_text {
    color: #fff;
    font-size: 14px; }
  .blog_article .blog_btn-read, .blog_article_first .blog_btn-read, .blog_article-second .blog_btn-read, .blog_article-third .blog_btn-read, .blog_article-fourth .blog_btn-read {
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    width: 66%;
    display: block;
    padding: 8px 0; }
    .blog_article .blog_btn-read a, .blog_article_first .blog_btn-read a, .blog_article-second .blog_btn-read a, .blog_article-third .blog_btn-read a, .blog_article-fourth .blog_btn-read a {
      color: #fff; }
  .blog_article .blog_btn-read:hover, .blog_article_first .blog_btn-read:hover, .blog_article-second .blog_btn-read:hover, .blog_article-third .blog_btn-read:hover, .blog_article-fourth .blog_btn-read:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: linear all 0.3s; }

.blog_article-second {
  background-color: #0d96b4; }

.blog_article-third {
  background-color: #fcb713; }
  .blog_article-third h2 {
    text-align: left; }
  .blog_article-third .blog_date {
    text-align: left; }

.blog_article-third:before {
  left: 230px; }

.blog_article-fourth {
  background-color: #073964; }
  .blog_article-fourth h2 {
    text-align: left; }
  .blog_article-fourth .blog_date {
    text-align: left; }

.blog_article-fourth:before {
  left: 230px; }

.modal_close {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  color: #fff; }

.open_modal_1, .open_modal_2, .open_modal_3, .open_modal_4 {
  position: relative;
  width: 250px;
  height: 300px; }

#overlay {
  position: fixed;
  z-index: 6;
  background-color: transparent;
  opacity: 0.8;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.open_modal_1 {
  z-index: 8; }

.open_modal_2 {
  z-index: 6; }

.open_modal_3 {
  z-index: 4; }

.open_modal_4 {
  z-index: 2; }

.canvas_first {
  height: 200px;
  width: 200px;
  background-image: url(../../images/trainer_1.png); }

.canvas_second {
  height: 200px;
  width: 200px;
  background-image: url(../../images/trainer_2.png); }

.canvas_third {
  height: 200px;
  width: 200px;
  background-image: url(../../images/trainer_3.png); }

.canvas_fourth {
  height: 200px;
  width: 200px;
  background-image: url(../../images/trainer_4.png); }

.wrap_post {
  background-color: #fff;
  background: linear-gradient(to bottom, #0d96b4, #fff);
  margin-bottom: -32px;
  display: none;
  opacity: 1;
  z-index: 8; }

.post_block {
  padding: 32px 0 64px;
  overflow: hidden; }

.article_post {
  margin: auto; }
  .article_post h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-indent: 46px;
    float: right;
    padding-right: 16px; }

.blog_date-post {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-align: left;
  text-indent: 46px;
  float: right;
  padding-right: 16px; }

.post_text {
  background-color: #fff;
  width: 69%;
  float: right;
  padding-left: 32px;
  padding-top: 16px; }
  .post_text p {
    width: 66%;
    font-size: 16px; }

.post_block::after {
  content: "";
  display: block;
  clear: both; }

.comment_wrap {
  background-color: #0d96b4;
  padding: 16px 0; }

.btn-add_comment {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  padding: 16px 32px;
  font-size: 18px; }

.btn-add_comment:hover {
  border-color: #ccc;
  color: #ccc;
  text-decoration: none; }

.btn-post {
  text-transform: uppercase;
  color: #fff;
  background-color: #0d96b4;
  display: block;
  width: 120px;
  text-align: center;
  padding: 4px 16px;
  font-size: 18px;
  margin: 16px auto; }

.btn-post:hover {
  color: #fff;
  background-color: #0e6f84;
  text-decoration: none; }

.comment-block:after {
  content: "";
  display: block;
  clear: both; }

.comment_block-wrap {
  margin: 0 auto; }

.comment_block-wrap::after {
  content: "";
  display: block;
  clear: both; }

.comment-block {
  margin: 32px 0;
  width: 81%;
  float: right;
  background-color: rgba(82, 167, 71, 0.52); }

.comment-block_blue {
  background-color: rgba(13, 150, 180, 0.52); }

.comment-block_orange {
  background-color: rgba(252, 153, 19, 0.52); }

.comment-block_dark-blue {
  background-color: rgba(7, 57, 100, 0.52); }

.flex-wrap-text {
  display: flex;
  border-bottom: 2px solid #52A747; }

.comment-heading {
  float: left;
  margin: 0 32px 0 0; }

.canvas_comment-first, .canvas_comment-second, .canvas_comment-third, .canvas_comment-fourth {
  background-image: url(../../images/trainer_1.png);
  float: left;
  position: relative;
  left: -50px;
  margin: 0; }

.canvas_comment-second {
  background-image: url(../../images/trainer_2.png); }

.canvas_comment-third {
  background-image: url(../../images/trainer_3.png); }

.canvas_comment-fourth {
  background-image: url(../../images/trainer_4.png); }

.post_trainer-second {
  background-image: url(../../images/trainer_2.png); }

.post_trainer-third {
  background-image: url(../../images/trainer_3.png); }

.post_trainer-fourth {
  background-image: url(../../images/trainer_4.png); }

.comment-text {
  float: left;
  font-size: 12px;
  margin-top: 16px; }

.text_wrap {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 8px;
  font-size: 13px; }

.text_wrap::after {
  content: "";
  display: block;
  clear: both; }

.main_show {
  display: block; }

.green {
  background-color: #52A747; }

.dark-blue {
  background-color: #073964; }

.orange {
  background-color: #fcb713; }

.light-blue {
  background-color: #0d96b4; }

.light-blue_btn:hover {
  background-color: #0f758c;
  cursor: pointer; }

.green_btn:hover {
  background-color: #46823e;
  cursor: pointer; }

.dark-blue_btn:hover {
  background-color: #072c4c;
  cursor: pointer; }

.orange:hover {
  background-color: #fcb713; }

.green_grad {
  background: linear-gradient(to bottom, #52A747, #fff); }

.dark-blue_grad {
  background: linear-gradient(to bottom, #073964, #fff); }

.orange_grad {
  background: linear-gradient(to bottom, #fcb713, #fff); }

.post_trainer-first, .post_trainer-second, .post_trainer-third, .post_trainer-fourth {
  margin: 32px auto;
  display: block; }

.map_main {
  background-image: url(../../images/main_map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 850px;
  width: 1240px;
  margin: 164px auto 0;
  position: relative; }

.lutsk-poly {
  position: absolute;
  left: -674px;
  top: -552px;
  transform: scale(0.18); }

@media (min-width: 640px) {
  .blog_date-post {
    width: 72%; }

  .article_post h2 {
    width: 72%; }

  .post_trainer-first, .post_trainer-second, .post_trainer-third, .post_trainer-fourth {
    float: left;
    margin: 32px 0;
    width: 20%;
    display: block;
    position: relative;
    left: 10%; }

  .News-page_heading {
    color: #000;
    z-index: 2; }

  .news_svg {
    opacity: 1;
    transition: all 0.3s linear;
    position: relative;
    top: 80px; }

  .projectH_descr, .projectHtoH_descr, .projectworkS_descr, .projectschoolP_descr, .projectstudentsR_descr, .projectPR_descr {
    height: 100%; }

  .meetings_wrap_blocks {
    display: flex; }

  .big_img, .wide_img {
    margin: 0 4px; }

  .big_img {
    height: 55%; }

  .wide_img {
    height: calc( 45% - 8px); }

  .contact_person {
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    background-color: #d4ea94;
    transform: rotate(-1.5deg);
    width: 103%;
    z-index: 2;
    padding: 0;
    margin-left: -20px;
    margin-bottom: -50px; }
    .contact_person img {
      margin-right: 60px;
      margin-left: 48px;
      transform: rotate(1.5deg); }
    .contact_person span {
      transform: rotate(1.5deg); }
    .contact_person p {
      transform: rotate(1.5deg); }

  .canvas_1, .canvas_2, .canvas_3, .canvas_4 {
    margin: 32px 0; }

  .wrap_zahodi {
    display: flex;
    justify-content: space-between; }

  .wrap_blog {
    display: flex;
    justify-content: center; } }
@media (min-width: 960px) {
  .wrap_news {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-left: 2px solid #52A747; }

  .news_heading_block {
    max-width: 640px; }

  .wrap_border {
    width: 50%;
    float: right;
    border-top: 0;
    display: block;
    border-left: 0; }

  .heading_afisha {
    display: block; }

  header:after {
    content: "";
    display: block;
    clear: both; }

  .main_heading {
    text-align: left; }

  .wrap_logo {
    float: left;
    width: 50%;
    bottom: 0;
    position: relative;
    height: 468px;
    display: flex;
    justify-content: flex-end; }
    .wrap_logo img {
      width: 450px; }

  .search_form label {
    font-size: 20px;
    max-width: 140px; }
  .search_form label:hover {
    cursor: pointer; }
  .search_form input {
    border-left: 2px solid #52A747;
    border-top: 2px solid #52A747; }

  .heading_logo {
    font-size: 24px;
    width: 440px;
    bottom: -24px; }

  .news {
    display: flex;
    justify-content: flex-start;
    align-items: center; }

  .main_heading_news {
    text-align: left;
    padding: 8px 32px;
    font-weight: lighter; }

  .wrap_afisha_main {
    padding: 0 0 32px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden; }

  .wrap_afisha {
    display: flex;
    justify-content: flex-end; }

  .main_heading_afisha {
    margin: 0 8px;
    align-self: center;
    text-transform: uppercase;
    color: #063863;
    font-weight: lighter; }

  .heading_afisha {
    text-align: left;
    padding: 24px 0;
    border-bottom: 2px solid #52A747;
    text-transform: uppercase;
    margin-right: -68px;
    float: left;
    display: block; }

  .wrap_projects {
    margin: 32px auto 0;
    max-width: 1180px; }
    .wrap_projects article::before {
      top: 305px; }
    .wrap_projects article {
      width: calc(33% - 64px);
      float: left;
      height: 550px;
      margin: 32px; }
      .wrap_projects article h5 {
        height: 84px;
        max-width: 320px;
        margin: 32px auto 0;
        font-weight: lighter; }

  .wrap_lectors {
    margin: 0 auto;
    max-width: 1176px; }

  .wrap_lectors_main {
    margin: auto; }

  .wrap_lectors:after {
    content: "";
    display: block;
    clear: both; }

  .lectors {
    max-width: 320px;
    width: calc(33% - 64px);
    margin: 0 32px;
    float: left; }

  .lectors_name {
    height: 50px; }

  .wrap_contacts {
    display: flex;
    justify-content: center;
    background-color: inherit;
    background-image: url(../../images/plashka.png);
    background-size: 100%;
    background-repeat: no-repeat; }

  .fb a, .phone a, .mail a {
    display: block; }

  .heading_projects {
    padding: 80px 0; }

  .wrap_author {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 64px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; }
    .wrap_author img {
      width: 300px;
      height: 300px;
      margin: 16px 75px 0 0;
      display: inline-block;
      float: left; }
    .wrap_author span {
      color: #063863;
      font-size: 22px;
      display: inline;
      position: absolute;
      bottom: 104px; }
    .wrap_author blockquote {
      font-style: italic;
      font-size: 22px;
      padding-bottom: 48px;
      max-width: 572px; }

  .main_heading_freeH {
    text-align: left;
    padding-left: 128px;
    font-size: 64px; }

  .main_heading_freeH_small {
    font-size: 52px; }

  .goals_block {
    margin: 0 16px;
    width: calc(50% - 32px);
    float: left; }

  .HtoH_goals {
    clear: both;
    width: 100%; }
    .HtoH_goals p {
      max-width: 960px; }

  .project_goal::after {
    content: "";
    display: block;
    clear: both; }

  .heading_projects {
    background-size: 100%; }

  .fb, .phone, .mail {
    display: block;
    float: left;
    margin: 16px auto;
    width: 33.3333%;
    text-align: center; }

  .fb:before, .phone:before, .mail:before {
    margin: 16px auto; }

  .news_article:nth-child(2) {
    flex-direction: row-reverse; }

  .news_article:nth-child(4) {
    flex-direction: row; }

  .news_article:nth-child(6) {
    flex-direction: row-reverse; }

  .blog_article, .blog_article_first, .blog_article-second, .blog_article-third, .blog_article-fourth {
    left: 12.5%; }

  .blog_article-second {
    left: 37%; }

  .blog_article-third {
    left: 29%; }

  .blog_article-fourth {
    left: 54%; } }
@media(min-width: 1280px) {
  .carousel-indicators {
    display: none; }

  #nav-icon4 .wad {
    display: none; }

  nav {
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; }
    nav a {
      width: 125px;
      text-align: center;
      font-size: 10px; }
    nav li:before {
      display: none; }

  .auth:before {
    background-image: url(../../images/auth.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    width: 20px;
    height: 20px;
    margin: 4px 0; }

  .facebook_nav:before, .mail_nav:before {
    content: "f";
    background-color: #52A747;
    border-radius: 50%;
    background-image: none; }

  .mail_nav::before {
    content: "";
    background-image: url(../../images/mail_top.png);
    background-color: #fff; }

  #nav-icon4 {
    width: 85%;
    height: 60px;
    position: relative;
    clear: both; }

  .header_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    position: relative;
    width: auto;
    left: 0;
    height: auto;
    margin-top: 0; }
    .header_menu li {
      height: 32px;
      display: flex;
      align-items: center;
      border: 2px solid #52A747; }
    .header_menu a {
      color: #000; }
    .header_menu li:hover a {
      color: #000; }

  .projectH_descr, .projectHtoH_descr, .projectworkS_descr, .projectschoolP_descr, .projectstudentsR_descr, .projectPR_descr {
    position: relative;
    z-index: 5;
    background-color: #e3f1b8; }

  .projectHtoH_descr {
    background-color: #d1f3f5;
    position: relative;
    z-index: 5; }

  .projectworkS_descr, .projectschoolP_descr {
    background-color: #c2d1dd;
    position: relative;
    z-index: 5; }

  .projectschoolP_descr {
    background-color: #fff1ad;
    position: relative;
    z-index: 5; }

  .projectstudentsR_descr {
    background-color: #d1f3f5; }

  .header_projectH {
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 999; }

  .freeH_img, .HtoH_img, .workS_img, .schoolP_img, .studentsR_img, .PR_img, .News_img, .Blog_img {
    top: 142px;
    position: fixed;
    width: 100%;
    z-index: 0; }

  .wrap_author {
    position: relative;
    margin-top: 500px; }

  .prj_goal_wrap {
    background-color: #fff;
    position: relative;
    z-index: 5;
    padding-bottom: 24px; }

  .paralaxM_wrap {
    background-color: #fff;
    position: relative;
    z-index: 5;
    padding-bottom: 32px;
    transform: rotate(-1.5deg);
    width: 103%;
    margin-left: -15px;
    height: 103%;
    margin-top: -25px; }

  .meetings_wrap {
    transform: rotate(1.5deg); }

  .btn_new {
    transform: rotate(1.5deg); } }

/*# sourceMappingURL=style.css.map */
